@use "../../../styles/variables" as v;

.basket {
  width: 10vw;
  background-color:#ffecbc;
  .basket-title {
    font-family: v.$fontPP;
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(0.8rem + 0.5vw);
    margin: 0;
  }

  .transparent-color {
    color: #ffecbc;
  }
  .basket-dropdown{
    position: absolute;
    top: 75%;
    right: 0;
    padding: 2rem 1rem;
    width: min(100%, 300px);
    z-index: 1000;
    background-color: #ffecbc;

    border-radius: 0 0 2rem 2rem;
  }

  .basket-list {
    padding: 0;
    list-style-type: none;
  }
}
