@use "../../../styles/variables" as v;

.footer {
  background-color: v.$green;
  border-top: 4px solid black;

  .footer-container {
    img{
      max-width: 125px;
    }
    p {
      color: #000;
      font-family: v.$fontMontserrat;
    }
  }
}