@use "../../../styles/variables" as v;

.shop {
  margin-top: 3.5rem;
  padding-bottom: 3.5rem;
  background: linear-gradient(222deg, #F0C5EE 46.88%, rgba(228, 184, 227, 0.00) 100%);

  h2 {
    font-family: v.$fontPP;
    font-weight: 900;
    font-size: 4rem;
    text-transform: uppercase;
    top: -2.5rem;
    position: relative;
  }
  .product-card-container {
    overflow-x: auto;
  }
}
@media screen and (max-width: 768px) {
  .shop {
    h2{
      font-size: 3rem;
      top: -2rem;
    }
  }
}